{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="container jumbotron">
<h2 align="center">Bulletin form</h2>
	<div class="col-md-6 col-md-offset-3">
		<form method="post" action="/get_bulletin/">
		    {% csrf_token %}
		    {{ form|crispy }}
		    <input class="btn btn-primary" type="submit" value="submit" />
		</form>
	</div>
</div>
{% else %}
<div class="container jumbotron">
<h2 align="center">Вам необходимо залогиниться, чтобы добавить объявление</h2>
</div>
{% endif %}
{% endblock %}