{% extends 'base.html' %}
{% load staticfiles %}
{% load easy_maps_tags %}

{% block content %}
<div class="container jumbotron">
{% if request.user.is_authenticated %}
	{%for person in users %}
	{% if request.user.username == person.user.username %}
		<h2>Ваш профиль, {{ person.user }}</h2>
		<p>Имя: {{ person.full_name }}</p>
		<p>День рождения: {{ person.birthday }}</p>
		<p>E-mail: {{ person.user.email }}</p>
		<p>Адрес: {{ person.user_adress }}</p>
		<p>Город: {{ person.user_city }}</p>
		<p>Область/край: {{ person.user_state }}</p>
		<p>Страна: {{ person.user_country }}</p>
		<p>Индекс: {{ person.user_zip }}</p>
		<p>{% easy_map person_f_a  200 200 %}</p>
	{% endif %}
	{% endfor %}
{% else %}
	<h2 align="center">Вы не вошли в систему</h2>
{% endif %}
</div>
{% endblock %}